<div class="row mt-3" [formGroup]="silaboForm" autocomplete="off">
  <div class="col-sm-6 col-lg-4 my-2">
    <label for="codigo_id">Código de la asignatura</label>
    <input
      type="text"
      id="codigo_id"
      class="form-control mt-2"
      formControlName="codigo"
    />
  </div>
  <div class="col-sm-6 col-lg-4 my-2">
    <label for="nombre_id">Nombre del curso</label>
    <input
      type="text"
      id="nombre_id"
      class="form-control mt-2"
      formControlName="nombre"
    />
  </div>
  <div class="col-sm-6 col-lg-4 my-2">
    <label for="tipo_id">Tipo de asignatura</label>
    <select id="tipo_id" class="form-select mt-2" formControlName="tipo">
      <option value="">Seleccione</option>
      <option value="1">Obligatorio</option>
      <option value="2">Electivo</option>
    </select>
  </div>
  <div class="col-sm-6 col-lg-4 my-2">
    <label for="horas_id">Horas semanales</label>
    <select
      name=""
      id="horas_id"
      class="form-select mt-2"
      formControlName="horas"
    >
      <option value="">Seleccione</option>
      <option value="1">3 Teoria - 2 Laboratorio</option>
      <option value="2">4 Teoria - 2 Laboratorio</option>
    </select>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-2 my-2">
    <label for="semestre_id">Semestre</label>
    <input
      type="text"
      id="semestre_id"
      class="form-control mt-2"
      placeholder="2021-2"
      formControlName="semestre"
    />
  </div>
  <div class="col-sm-6 col-md-3 col-lg-2 my-2">
    <label for="ciclo_id">Ciclo</label>
    <select id="ciclo_id" class="form-select mt-2" formControlName="ciclo">
      <option value="" hidden>Seleccione</option>
      <option value="I">I Ciclo</option>
      <option value="II">II Ciclo</option>
      <option value="III">III Ciclo</option>
      <option value="IV">IV Ciclo</option>
      <option value="V">V Ciclo</option>
      <option value="VI">VI Ciclo</option>
      <option value="VII">VII Ciclo</option>
      <option value="VIII">VIII Ciclo</option>
      <option value="IX">IX Ciclo</option>
      <option value="X">X Ciclo</option>
    </select>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-2 my-2">
    <label for="creditos_id">Créditos</label>
    <select
      id="creditos_id"
      class="form-select mt-2"
      formControlName="creditos"
    >
      <option value="">Seleccione</option>
      <option value="2">2 Créditos</option>
      <option value="3">3 Créditos</option>
      <option value="4">4 Créditos</option>
    </select>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-2 my-2">
    <label for="modalidad_id">Modalidad</label>
    <select
      id="modalidad_id"
      class="form-select mt-2"
      formControlName="modalidad"
    >
      <option value="" hidden>Seleccione</option>
      <option value="1">Presencial</option>
      <option value="2">Virutal</option>
    </select>
  </div>
  <div class="col-12 my-2">
    <label for="sumilla_id">Sumilla</label>
    <textarea
      id="sumilla_id"
      rows="10"
      class="form-control mt-2"
      formControlName="sumilla"
    ></textarea>
  </div>
  <div class="col-12 col-lg-6 my-2">
    <div class="row">
      <div class="col-12">
        <label for="docente_id">Docentes</label>
        <select
          name=""
          id="docente_id"
          class="form-select mt-2"
          [(ngModel)]="docente"
          [ngModelOptions]="{ standalone: true }"
          (change)="addNewDocente()"
        >
          <option [ngValue]="initialDocente" hidden>Seleccione</option>
          <option *ngFor="let d of listdocentes" [ngValue]="d">
            {{ d?.docente_correo }}
          </option>
        </select>
      </div>
      <div class="col-12 mt-2">
        <div class="card table-responsive p-3 pb-0">
          <span *ngIf="docentesSeleccionados?.length === 0"
            >No hay docentes agregados</span
          >
          <table class="table table-borderless">
            <tbody>
              <tr *ngFor="let d of docentesSeleccionados">
                <td>
                  {{ d?.docente_nombre + " " + d?.docente_apellido_paterno }}
                </td>
                <td>{{ d?.docente_correo }}</td>
                <td>
                  <button
                    class="btn btn-sm btn-danger mx-1"
                    (click)="deleteDocente(d?.docente_id)"
                  >
                    x
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 my-2">
    <div class="row">
      <div class="col-12">
        <label for="">Competencias generales</label>
        <select name="" id="" class="form-select mt-2">
          <option value="">Seleccione</option>
          <option value="">Seleccione</option>
          <option value="">Seleccione</option>
          <option value="">Seleccione</option>
        </select>
      </div>
      <div class="col-12 mt-2">
        <div class="card table-responsive p-3">
          <table class="table">
            <tbody>
              <tr *ngFor="let i of [1, 2, 2, 3, 4]">
                <td>Competencia general</td>
                <td>
                  <button class="btn btn-sm btn-danger mx-1">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-6 my-2">
    <div class="row">
      <div class="col-12">
        <label for="">Competencias especificas</label>
        <select name="" id="" class="form-select mt-2">
          <option value="">Seleccione</option>
          <option value="">Seleccione</option>
          <option value="">Seleccione</option>
          <option value="">Seleccione</option>
        </select>
      </div>
      <div class="col-12 mt-2">
        <div class="card table-responsive p-3">
          <table class="table">
            <tbody>
              <tr *ngFor="let i of [1, 2, 2, 3, 4]">
                <td>Competencia especifica</td>
                <td>
                  <button class="btn btn-sm btn-danger mx-1">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 my-2">
    <div class="row">
      <div class="col-12">
        <label for="">Capacidades</label>
        <select name="" id="" class="form-select mt-2">
          <option value="">Seleccione</option>
          <option value="">Seleccione</option>
          <option value="">Seleccione</option>
          <option value="">Seleccione</option>
        </select>
      </div>
      <div class="col-12 mt-2">
        <div class="card table-responsive p-3">
          <table class="table">
            <tbody>
              <tr *ngFor="let i of [1, 2, 2, 3, 4]">
                <td>Capacidad</td>
                <td>
                  <button class="btn btn-sm btn-danger mx-1">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-12 my-3 d-flex flex-row-reverse">
    <button class="btn btn-outline-primary" (click)="saveSilabo()">
      Guardar
    </button>
  </div>
</div>
