<div class="container mt-4">
  <app-header-silabo *ngIf="isEdit" [silabo]="silabo"></app-header-silabo>

  <div *ngIf="isSelected || isNewCourse" class="my-3 d-flex align-items-center">
    <button class="btn btn-outline-info" (click)="goBackOptions()">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <span class="h3 m-0 px-3">
      Creando nuevo {{ isSelected ? "Silabo" : "Curso" }}
    </span>
  </div>

  <div
    class="row align-items-center"
    *ngIf="!isSelected && !isNewCourse && !isEdit"
  >
    <div class="col-12 mb-4">
      <span class="h3">Seleccione una opción</span>
    </div>
    <div class="col-sm-6">
      <select
        name=""
        id=""
        class="form-select"
        [(ngModel)]="curso"
        (change)="selectSilabo()"
      >
        <option [ngValue]="initialCurso" hidden>Seleccione un curso</option>
        <option *ngFor="let c of cursos" [ngValue]="c">
          {{ c?.asig_nombre }}
        </option>
      </select>
    </div>
    <div class="col-sm-1 my-3 my-sm-0 text-center">O</div>
    <div class="col-sm-5 text-center text-sm-start">
      <button class="btn btn-success" (click)="createCourse()">
        Crear nuevo curso
      </button>
    </div>
  </div>
  <app-form-silabo
    *ngIf="isSelected || isEdit"
    [isEdit]="isEdit"
    [silabo]="silabo"
    [curso]="curso"
  ></app-form-silabo>
  <app-new-course *ngIf="isNewCourse"></app-new-course>
</div>
