<div class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a routerLink="/" class="navbar-brand" *ngIf="!login">Logo</a>
    <a routerLink="/silabo" class="navbar-brand" *ngIf="login">Logo</a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item mx-3" *ngIf="login">
          <a class="nav-link" routerLink="/silabo">Silabos</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success" routerLink="/" *ngIf="!login"> Login </a>
          <button class="btn btn-danger" *ngIf="login" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
