<div class="row" [formGroup]="courseForm">
  <div class="col-sm-6 col-lg-4 my-2">
    <label for="codigo_id">Código de la asignatura</label>
    <input
      type="text"
      id="codigo_id"
      class="form-control mt-2"
      formControlName="codigo"
      autocomplete="off"
      placeholder="Codigo de la asignatura"
    />
  </div>
  <div class="col-sm-6 col-lg-4 my-2">
    <label for="nombre_id">Nombre de la asignatura</label>
    <input
      type="text"
      id="nombre_id"
      class="form-control mt-2"
      formControlName="nombre"
      autocomplete="off"
      placeholder="Nombre de la asignatura"
    />
  </div>
  <div class="col-sm-6 col-lg-4 my-2">
    <label for="tipo_id">Tipo de asignatura</label>
    <select id="tipo_id" class="form-select mt-2" formControlName="tipo">
      <option value="" hidden>Seleccione</option>
      <option value="1">Obligatorio</option>
      <option value="2">Electivo</option>
    </select>
  </div>
  <div class="col-sm-6 col-lg-4 my-2">
    <label for="horas_id">Horas semanales</label>
    <select id="horas_id" class="form-select mt-2" formControlName="horas">
      <option value="" hidden>Seleccione</option>
      <option *ngFor="let h of hoursWeek" [ngValue]="h?.horas_sem_id">
        {{ h?.teoria + " Teoria - " + h?.laboratorio + " Laboratorio" }}
      </option>
    </select>
  </div>
  <div class="col-sm-6 col-lg-4 my-2">
    <label for="ciclo_id">Ciclo</label>
    <select id="ciclo_id" class="form-select mt-2" formControlName="ciclo">
      <option value="" hidden>Seleccione</option>
      <option value="I">I Ciclo</option>
      <option value="II">II Ciclo</option>
      <option value="III">III Ciclo</option>
      <option value="IV">IV Ciclo</option>
      <option value="V">V Ciclo</option>
      <option value="VI">VI Ciclo</option>
      <option value="VII">VII Ciclo</option>
      <option value="VIII">VIII Ciclo</option>
      <option value="IX">IX Ciclo</option>
      <option value="X">X Ciclo</option>
    </select>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-2 my-2">
    <label for="creditos_id">Créditos</label>
    <select
      id="creditos_id"
      class="form-select mt-2"
      formControlName="creditos"
    >
      <option value="" hidden>Seleccione</option>
      <option value="2">2 Créditos</option>
      <option value="3">3 Créditos</option>
      <option value="4">4 Créditos</option>
    </select>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-2 my-2">
    <label for="plan_id">Plan</label>
    <select id="plan_id" class="form-select mt-2" formControlName="plan">
      <option value="" hidden>Seleccione</option>
      <option *ngFor="let p of plans" [ngValue]="p?.plan_id">
        {{ p?.plan_nombre }}
      </option>
    </select>
  </div>
  <div class="col-12 my-2">
    <label for="sumilla_id">Sumilla</label>
    <textarea
      id="sumilla_id"
      rows="3"
      class="form-control mt-2"
      formControlName="sumilla"
    ></textarea>
  </div>
  <div class="col-12 my-2">
    <label for="estrategia_id">Estrategia didáctica</label>
    <textarea
      id="estrategia_id"
      rows="3"
      class="form-control mt-2"
      formControlName="estrategia"
    ></textarea>
  </div>
  <div class="col-12 my-3 d-flex flex-row-reverse">
    <button class="btn btn-primary px-5" (click)="saveCourse()">Guardar</button>
  </div>
</div>
