<div
  class="card d-flex flex-row justify-content-between p-3 my-2 align-items-center"
>
  <ng-container>
    <span class="h5">{{ silabo?.curso.asig_nombre }}</span>
  </ng-container>
  <span>
    <button
      class="btn mx-2"
      [ngClass]="{
        'btn-danger': silabo?.favorito,
        'btn-outline-danger': !silabo?.favorito
      }"
      (click)="updateFavoritos(silabo?.asig_periodo_id, silabo?.favorito)"
    >
      <fa-icon [icon]="faHeart"></fa-icon>
    </button>
    <a class="btn btn-info mx-2" (click)="editSilabo()">
      <fa-icon [icon]="faPen"></fa-icon>
    </a>
    <button
      class="btn btn-warning mx-2"
      (click)="deleteSilabo(silabo?.asig_periodo_id)"
    >
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </span>
</div>
