<div class="row">
  <div class="col-md-8">
    <span class="h3">Nombre del curso</span>
    <hr class="mt-2 mb-1" />
    <small>Actualizado el 23/08/2021</small>
  </div>
  <div
    class="col-md-4 d-flex align-items-start justify-content-end mt-3 mt-md-0"
  >
    <button class="btn btn-outline-danger mx-1">
      <fa-icon [icon]="faHeart"></fa-icon>
    </button>
    <button class="btn btn-info mx-1">
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
    <button class="btn btn-danger mx-1">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
    <button class="btn btn-primary mx-1">
      <fa-icon [icon]="faFileDownload"></fa-icon>
    </button>
  </div>
</div>
