<div class="card border-secondary mb-3">
  <div class="card-body">
    <span class="card-title d-flex justify-content-between align-items-center">
      <span class="h5">{{ silabo?.asig_nombre | truncate: "5" }}</span>
      <button class="btn btn-outline-danger">
        <fa-icon [icon]="faHeart"></fa-icon>
      </button>
    </span>
    <hr />
    <p>
      <small>Ciclo: {{ silabo?.asig_ciclo }}</small> -
      <small>Periodo: {{ silabo?.periodo_academico }}</small>
    </p>
    <p class="card-text">
      {{ silabo?.asig_sumilla | truncate: "35" }}
    </p>
    <div class="d-flex justify-content-between align-items-center row">
      <div class="col-md-7">
        <a class="btn btn-info" (click)="editSilabo()">
          <fa-icon [icon]="faPen"></fa-icon>
        </a>
        <button class="btn btn-warning mx-1" (click)="deleteSilabo()">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
        <button
          class="btn btn-primary"
          (click)="downloadSilabo(silabo?.asig_periodo_id)"
        >
          <fa-icon [icon]="faFileDownload"></fa-icon>
        </button>
      </div>
      <div class="col-md-5 mt-3 mt-md-0 p-0">
        <small>{{ silabo?.updated_at | date: "short" }}</small>
      </div>
    </div>
  </div>
</div>
