<div class="modal-header">
  <h5 class="modal-title">Nueva Semana</h5>

  <button
    type="button"
    class="btn btn-close mx-1"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal('dismiss')"
  ></button>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <label for="">Teoria</label>
        <input type="text" class="form-control" name="" id="" ngbAutofocus />
      </div>
      <div class="col-12">
        <label for="">Laboratirio</label>
        <input type="text" class="form-control" name="" id="" />
      </div>
      <div class="col-12">Actividades asincronicas</div>
      <div class="col-12">
        <label for="">Actividades</label>
        <input type="text" class="form-control" name="" id="" />
        <button class="btn btn-dark">Agregar</button>
      </div>
      <div class="col-12 card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        tempora unde autem, laboriosam aut alias. Vitae, minima perferendis
        maxime in blanditiis error inventore laboriosam aspernatur soluta beatae
        quaerat neque tenetur.
      </div>
      <div class="col-12">
        <label for="">Recursos</label>
        <input type="text" class="form-control" name="" id="" />
        <button class="btn btn-dark">Agregar</button>
      </div>
      <div class="col-12 card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        tempora unde autem, laboriosam aut alias. Vitae, minima perferendis
        maxime in blanditiis error inventore laboriosam aspernatur soluta beatae
        quaerat neque tenetur.
      </div>
      <div class="col-12">
        <label for="">Estrategias</label>
        <input type="text" class="form-control" name="" id="" />
        <button class="btn btn-dark">Agregar</button>
      </div>
      <div class="col-12 card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        tempora unde autem, laboriosam aut alias. Vitae, minima perferendis
        maxime in blanditiis error inventore laboriosam aspernatur soluta beatae
        quaerat neque tenetur.
      </div>
      <div class="col-12">Actividades sincronicas</div>
      <div class="col-12">
        <label for="">Actividades</label>
        <input type="text" class="form-control" name="" id="" />
      </div>
      <div class="col-12 card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        tempora unde autem, laboriosam aut alias. Vitae, minima perferendis
        maxime in blanditiis error inventore laboriosam aspernatur soluta beatae
        quaerat neque tenetur.
      </div>
      <div class="col-12">
        <label for="">Recursos</label>
        <input type="text" class="form-control" name="" id="" />
        <button class="btn btn-dark">Agregar</button>
      </div>
      <div class="col-12 card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        tempora unde autem, laboriosam aut alias. Vitae, minima perferendis
        maxime in blanditiis error inventore laboriosam aspernatur soluta beatae
        quaerat neque tenetur.
      </div>
      <div class="col-12">
        <label for="">Estrategias</label>
        <input type="text" class="form-control" name="" id="" />
        <button class="btn btn-dark">Agregar</button>
      </div>
      <div class="col-12 card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        tempora unde autem, laboriosam aut alias. Vitae, minima perferendis
        maxime in blanditiis error inventore laboriosam aspernatur soluta beatae
        quaerat neque tenetur.
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary">Agregar</button>
</div>
