<div class="modal-header">
  <h5 class="modal-title">Nueva Semana</h5>

  <button
    type="button"
    class="btn btn-close mx-1"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal('dismiss')"
  ></button>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 my-2">
        <label for="">Teoria</label>
        <textarea
          name=""
          id=""
          rows="3"
          class="form-control"
          [(ngModel)]="teoria"
        ></textarea>
      </div>
      <div class="col-12 my-2">
        <label for="">Laboratorio</label>
        <textarea
          name=""
          id=""
          rows="3"
          class="form-control"
          [(ngModel)]="laboratorio"
        ></textarea>
      </div>
      <div class="col-12 my-2"><h4>Actividades asincronicas</h4></div>
      <hr />
      <app-agregar-elemento-card
        etiqueta="Actividades"
      ></app-agregar-elemento-card>
      <app-agregar-elemento-card
        etiqueta="Recursos"
      ></app-agregar-elemento-card>
      <app-agregar-elemento-card
        etiqueta="Estrategias"
      ></app-agregar-elemento-card>

      <div class="col-12 my-2"><h4>Actividades sincronicas</h4></div>
      <hr />
      <app-agregar-elemento-card
        etiqueta="Actividades"
      ></app-agregar-elemento-card>
      <app-agregar-elemento-card
        etiqueta="Recursos"
      ></app-agregar-elemento-card>
      <app-agregar-elemento-card
        etiqueta="Estrategias"
      ></app-agregar-elemento-card>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="agregarSemana()">
    Agregar
  </button>
</div>
