<div class="row">
  <div class="col-12">
    <label for="">{{ etiqueta }}</label>
  </div>
  <div class="col-md-10 my-2">
    <input
      type="text"
      class="form-control"
      name=""
      id=""
      placeholder="{{ placeholder }}"
      [(ngModel)]="nombreElemento"
    />
  </div>
  <div class="col-md-2 d-flex flex-row-reverse align-items-center">
    <button class="btn btn-success" (click)="agregarElemento()">Agregar</button>
  </div>
  <div class="col-12 my-2">
    <div class="card table-responsive p-3 pb-0">
      <span *ngIf="elementos.length == 0">
        No hay {{ etiqueta | lowercase }} agregadas
      </span>
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let e of elementos; let i = index">
            <td class="align-middle">{{ e.elemento_nombre }}</td>
            <td class="align-middle">
              <button
                class="btn btn-danger mx-1"
                (click)="eliminarElemento(e.elemento_id)"
              >
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
