<div class="container">
  <div class="row my-3">
    <span class="h2">Barra de buqueda</span>
  </div>
  <div class="row my-3" *ngIf="silabos?.length > 0; else nosilabos">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let silabo of silabos">
      <app-card-silabo [silabo]="silabo"></app-card-silabo>
    </div>
  </div>
  <ng-template #nosilabos>
    <div class="row my-5">
      <span class="h2">No tiene silabos creados</span>
    </div>
  </ng-template>
  <div class="d-flex justify-content-center mb-5">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
